fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
python-dotenv==1.0.0
pymongo==4.6.0
motor==3.3.2
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
groq==0.4.2
pinecone==3.2.2
chromadb==0.4.21
sentence-transformers==2.7.0
requests==2.31.0
biopython==1.81
langgraph==0.0.41
langchain==0.1.20
pydantic-settings==2.1.0
langchain-community==0.0.38
langchain-core==0.1.52
langsmith==0.1.147
passlib[bcrypt]==1.7.4
pymupdf==1.26.4
pypdf==5.9.0
pymed==0.8.9